<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<h2>add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
    <%= f.error_messages %>

    <div class="field">
      <% f.label :commenter %><br />
      <% f.text_field :commenter %>
    </div>

    <div class="field">
      <% f.label :body %><br />
      <% f.text_area :body %>
    </div>
    <div class="actions">
      <% f.submit %>
    </div>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
